:root {
    --azul: #1e90ff;
    --blanco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    /* HACER RESPONSIVO BY NURIA*/
    box-sizing: border-box;
    /* HACER RESPONSIVO */
}

body {
    background: var(--blanco);
    font-family: 'Spectral SC', serif;
}

nav {
    background-color: #2c3e50;
    position: sticky;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 0;
    text-align: center;
}

ul li {
    display: inline-block;
    vertical-align: top;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    line-height: 60px;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans';
}

ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3498db;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.3s;
}

ul li:hover a,
ul li:focus a,
ul li.active a {
    color: #fff;
}

ul li:hover a:after,
ul li:focus a:after,
ul li.active a:after {
    opacity: 1;
}

#s0 {
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 90%);
    background-color: #3498db;
    height: 500px;
}

#s1 {
    background-color: black;
    height: 700px;
    clip-path: polygon(0 0, 0 70%, 100% 70%);
}

#s2 {
    background-color: yellow;
    height: 700px;
    clip-path: circle(60% at 50% 0);
}

#s3 {
    background-color: rebeccapurple;
    height: 700px;
}

#s4 {
    background-color: rgb(0, 255, 115);
    height: 700px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}


/* Scroll Personalizado */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-image: radial-gradient(circle at 67% 83%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, hsla(317, 0%, 96%, 0.05) 0%, hsla(317, 0%, 96%, 0.05) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(22, 176, 207), rgb(103, 7, 215));
}

/* Botonsito */
.botonsito1 {
    position: absolute;
    margin-top: 2%;
    margin-inline: 40%;
}