* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    font-family: 'Spectral SC', serif;
}

nav {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    z-index: 1;
    text-align: center;
}

ul li {
    display: inline-block;
    vertical-align: top;
}

ul li a {
    text-decoration: none;
    font-size: 16px;
    display: block;
    line-height: 60px;
    padding: 0 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    font-weight: 300;
    color: #fff;
    font-family: 'Open Sans';
}

ul li a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3498db;
    z-index: -1;
    transform: skewX(-30deg);
    opacity: 0;
    transition: opacity 0.3s;
}

ul li:hover a,
ul li:focus a,
ul li.active a {
    color: #fff;
}

ul li:hover a:after,
ul li:focus a:after,
ul li.active a:after {
    opacity: 1;
}

#s0 {
    background-color: yellowgreen;
    height: 700px;
}

#s1 {
    background-color: black;
    height: 700px;
}

#s2 {
    background-color: yellow;
    height: 700px;
}

#s3 {
    background-color: rebeccapurple;
    height: 700px;
}


/* Scroll Personalizado */

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #414141;
}